<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ModelPath" value="C:\workspace\maskRCNN\frozen_inference_graph.pb"/>
    <add key="ModelArchitecture" value="C:\workspace\maskRCNN\mask_rcnn_inception_v2_coco_2018_01_28.pbtxt"/>
    <add key="CocoClasses" value="C:\workspace\maskRCNN\coco-labels-paper.names"/>
    <add key="ConnString" value="Server=.;Database=SmartParking;Trusted_Connection=True;MultipleActiveResultSets=True;Encrypt=False"/>
  </appSettings>
</configuration>